.footer {
  border-top: 0px !important;
}
body {
}
.well {
	background-color: #FFF !important;
	border: 0px !important; 
        -webkit-box-shadow: none;
        box-shadow: none;
}
#block-views-menu-block ul {
	list-style-type: none;
	padding: 0;
}
#block-views-menu-block h3 {
	font-size: 13px;
        color: #666;
}
#block-views-menu-block .field-content a{
	font-size: 10px;
        color: #666;
}
.control-gellary a {
	color: #000;

}
#block-views-menu-block h3 {
  cursor: pointer;
}
#block-views-menu-block .view-footer{
  padding-top: 15px;
}
#block-views-menu-block  a.active{
  text-decoration: underline;
}


.contact-form {
  width: 40%;
}
#next, #prev {
  cursor: pointer;
}


.tooltipster-shadow {
	/*border-radius: 5px;*/
	background: #fff;
	box-shadow: 0px 0px 14px rgba(0,0,0,0.3);
	color: #2c2c2c;
}
.tooltipster-shadow .tooltipster-content {
	font-family: 'monaco';
	font-size: 10px;
	line-height: 16px;
	padding: 8px 10px;
        font-style: italic;
}
.view-menu .view-header a {
  color: #666 !important;
  font-size: 1.1em;
}

.view-menu .view-header  {
  margin-top: 18px;
  margin-bottom: 37px;
}
.view-menu .view-footer a {
  color: #666 !important;

}
.view-menu .view-footer {
  position: relative;
  top: -10px;
}
.view-menu .view-footer li{
  margin-bottom: 8px;
}
.node-gallery .description {
	padding-top: 30px;
	text-align: left;
	/*padding-left: 170px;*/
}
.view-header a.active {
  text-decoration: none !important;
}
.page-node .page-header {
  display:none;
}
.page-node .content {
  margin-top: 35px;
}
